
.search {
    background-image: none;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    &__title {
        font-family: Arial;
        font-size: 24px;
        margin-left: 27px;
        //margin-right: 95px;
        margin-bottom: 15px;
    }
    &__bar {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin-left: 27px;
        margin-right: 30px;
        border: 1px solid #8E8E8E;
        border-radius: 20px;
        font-family: Arial;
        font-size: 18px;
        line-height: 21px;
        color: #8E8E8E;
        text-indent: 15px;
        height: 44px;
        width: 84.16%;
    }

    &__input {
        border: none;
        margin-left: 25px;
        font-size: 18px;
        font-weight: lighter;
    }

    &__icon {
        font-size: 26px;
        color: #8E8E8E;
        margin-top: 8px;
        margin-bottom: 9px;
       // margin-left: 60px;
        margin-right: 13px;
    }   

}

@media (min-width: 768px) {
    .search {
        background-image: url('../images/banner-mobile.png');
        background-size: 100vw;
        background-position: left;
        height: 428px;
        margin-bottom: 5px;
        &__title {
            color: white;
            padding: 224px 349px 41px 60px;
            margin: 0;
        }
        &__bar {
            background-color: white;
            margin-left: 60px;
        }
    }
}

@media (min-width: 1024px) {

    .search {
        background-image: url('../images/banner.png');
        background-size: cover;
        align-content: flex-start;
        height: 500px;

        &__title {
            font-size: 36px;
        }

        &__bar {
            max-width: 538px;
        }
    }
} 