*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.grid-list {
	list-style-type: none;
}

.grid-list-element {
	float: left;
	padding-right: 1%;
	padding-left: 1%;
	font-family: 'Montserrat', sans-serif;
	width: 340px;
  	
}

.image-section {
	float: left;
	padding-right: 8%;
	width: 60%;
  height: 60%;
	object-fit: cover;
}

.description {
	text-align: justify;
	text-justify: inter-word;
	font-size: 0.7em;
}

.title-section {
	font-size: 1.2em;
}

.title-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.price-section {
  font-size: 1em;
  margin-right: 10px;
}

button {
 	font-family: 'Montserrat', sans-serif;
	padding: 3%;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: black;
	border: none;
	border-radius: 15px;
	width: 47%;
	margin-bottom: 10px;

}

button:hover {
	background-color: gray
}

button:active {
  background-color: ghostwhite;
  transform: translateY(4px);
}

.grid-list{
	background-color: #d3d3d3;
	max-width: 1280px;
	min-width: 425px;
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 
}

@media (min-width: 768px) {
  .grid-list-element {
    max-width: 350px;
    width: 350px;
  }
  .grid-list{
  	display: flex;
	  flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .grid-list-element {
    max-width: 350px;
    width: 330px;
  }
  button {
  	width: 40%;
  }
  .grid-list{
  	display: flex;
	  flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: space-between;
  	flex-basis: 33.33%;
  }

}


