$border-color : #D8D8D8;

$button-background : black;
$button-text: white;

$footer-background: black;
$footer-text: white;

$nav-background:black;
$nav-icon:white;
$nav-text:white;


$search-bar: #8E8E8E;
$search-background: white;